/vendor
/node_modules
/public/resources/thumbnails
/public/resources/attachments
/public/tmp
/public/ckfinder/userfiles
/public/javascript/
/public/css/
/public/fonts/
/backups
/bower_components
/storage/debugbar
/run
npm-debug.log
.env
.DS_Store
composer.phar
*.css.map
*.sass-cache
