/vendor
/node_modules
/public/resources/thumbnails
/public/resources/attachments
/public/tmp
/public/ckfinder/userfiles
/backups
/bower_components
/storage/debugbar
npm-debug.log
.env
.DS_Store
composer.phar
*.css.map
*.sass-cache
