body {
	background-repeat: repeat;
	font-family: 'Open Sans', sans-serif;
	background-image: url('http://convergence.provvedo.com/images/style/skulls_lightblue.png');
	padding: 20px 10% 20px 10%;
}

.logo {
	height: 125px;
	background-repeat: no-repeat;
	background-image: url('http://convergence.provvedo.com/images/style/mini-logo-elettric80.png');
}

.wrapper {
	background-color: #FFF;
	padding: 20px 15px;
	moz-box-shadow: 0 1px 5px rgba(0,0,0,.6);
  	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.6);
  	box-shadow: 0 1px 5px rgba(0,0,0,.6);
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
}