body {
	background-color: #ECFAFF;
	background-image: url(/images/style/skulls_lightblue.png);
  /*background-image: url(/images/style/login_background.png); */
  /*background-size: 100% 100%;*/
  /*background-attachment: fixed;*/
	font-size: 12px;
}

.mrg-brm-20 {
  margin-bottom: 20px!important;
}

input, textarea, select, .bootstrap-tagsinput {
  background-color: #F7F7F7 !important;
}

input[disabled], textarea[disabled], select[disabled] {
  background-color: #DDD !important;
}

.nav-tabs>li>a.info {
    background-color: #A6CEDA;
    border-color: #B2C1C5;
    color: #735A5A;
    border-radius: 4px;
    padding: 6px 8px;
    margin: 4px 0px 0px 5px;
}

.nav-tabs>li>a.danger {
    background-color: #FDBDBB;
    border-color: #EAB4B2;
    color: #543F3F;
    border-radius: 4px;
    padding: 6px 8px;
    margin: 4px 0px 0px 5px;
}

.nav-tabs>li>a.info:hover {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #FFF;
}

.nav-tabs>li>a.danger:hover {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #FFF;
}

.fa {
  display: inline-block;
  min-width: 15px;
}

.btn {
  display: block;
  margin-bottom: 10px;
}

#add_technician, #remove_technician {
  display: inline-block;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 155px;
}

#logo img {
	height: 100px;
  display:inline-block;
  float: left;
}

#header {
  max-width: 1500px;
  margin: auto;
	height: 120px;
	padding: 10px 35px;
}

#login_wrapper {
  width: 400px;
  margin: auto;
}

#form_wrapper {
  width: 340px;
  margin: 30px auto;
  text-align: center;
  padding: 30px 60px;
  overflow: hidden;
  moz-box-shadow: 0 1px 5px rgba(0,0,0,.6);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.6);
  box-shadow: 0 1px 5px rgba(0,0,0,.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #FFF;
}

#login_img {
  width: 100px;
  border-radius: 50%;
  margin: 0px auto 30px auto;
}

#login_panel_thumb {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  float:left;
  margin-left: 10px;
  overflow: hidden;
}

#login_panel_thumb img {
  text-align: center;
  vertical-align: center;
  width: inherit;
}

#login_panel #loginfo {
  font-size: 15px;
  display:inline-block;
  height: 80px;
  float:left;
  text-align: right;
  padding-top: 20px;
}

#login_panel {
  height: 100%;
  padding: 10px;
  float: right;
  display:inline-block;
}

@media (max-width: 655px) {
  #login_panel {
    display: none;
  }
}

.wrapper {
  max-width: 1500px;
	width: 95%;
  /* bad for 3d table matrix */
	padding-top: 15px;                                 
	moz-box-shadow: 0 1px 5px rgba(0,0,0,.6);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.6);
  box-shadow: 0 1px 5px rgba(0,0,0,.6);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;
}

#ticket_title {
  font-weight: bold;
  font-size: 18px;  
}

#ticket_status {
  float: right;
}

.ticket_status_new {
  color: #23932D;
}

.ticket_status_on_hold {
  color: #DB9047;
}

.ticket_status_closed {
  color: #7C7C7C;
}

#footer {
	height: 50px;
	padding: 10px 0px;
	text-align: center;
}

.navb {
	height: 35px;
	padding: 5px 5px 5px 10px;
	margin-bottom: 10px;
	background-color: #F7C879;
	border: 1px solid #E2C391;
}

.navb .title {
	line-height: 25px;
	font-size: 16px;
	display: inline-block;
	float: left;
}

.filters {
  height: 50px;
  padding: 7px;
  background: -webkit-linear-gradient(top, #D8EFE8 , #E9F7F3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #D8EFE8, #E9F7F3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #D8EFE8, #E9F7F3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #D8EFE8 , #E9F7F3); /* Standard syntax */
  border: 1px solid #CAE0DA;
}

#reset_filters {
  float: right;
}

.searching {
  background-color: yellow;
}

.pagination {
  margin: 0px;
}

.ajax_pagination {
  margin: 10px 0px;
}

#contacts.navb {
  border: 1px solid #F5A38F;
  background: -webkit-linear-gradient(top, #FFB3AA , #C87C73); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #FFB3AA, #C87C73); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #FFB3AA, #C87C73); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #FFB3AA , #C87C73); /* Standard syntax */
}

#tickets.navb {
  border: 1px solid #EAC2A0;
  background: -webkit-linear-gradient(top, #FFD3AF , #D3A37B); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #FFD3AF, #D3A37B); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #FFD3AF, #D3A37B); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #FFD3AF , #D3A37B); /* Standard syntax */
}

#equipment.navb {
  border: 1px solid #E4DBB9;
  background: -webkit-linear-gradient(top, #F9E7A1 , #DFC974); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #F9E7A1, #DFC974); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #F9E7A1, #DFC974); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #F9E7A1 , #DFC974); /* Standard syntax */
}

#hotels.navb {
	border: 1px solid #8FA7F7;
  background: -webkit-linear-gradient(top, #AABEFF , #748AD0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #AABEFF, #748AD0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #AABEFF, #748AD0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #AABEFF , #748AD0); /* Standard syntax */
}

#services.navb {
  border: 1px solid #8EE8E2;
  background: -webkit-linear-gradient(top, #B6EAE6 , #81CFC7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #B6EAE6, #81CFC7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #B6EAE6, #81CFC7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #B6EAE6 , #81CFC7); /* Standard syntax */
}

/* HTML tables */
thead {
	background-color: #FFFFFF;
}

.orderable th {
  cursor: pointer;
}

.table {
	margin-bottom: 0px;
}

.borderless td, .borderless th {
    border: none !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #F0EFEF;
}

.table-striped>tbody>tr:nth-of-type(even) {
  background-color: #F9F9F9;
}

.table-striped-warm>tbody>tr:nth-of-type(even) {
  background-color: #F9F9F9;
}

.table-striped-warm>tbody>tr:nth-of-type(odd) {
  background-color: #F3F3F3;
}

.table-hover tbody tr:hover {
  background-color: #d9edf7 !important;	
}

/* Links */
a:visited, a:link, a:active, a:visited {
	color: #181093;
  cursor: pointer;
}

.cancel {
    cursor: pointer;
    background-color: #FFF;
}

/* Submit Button Like Link */
.nobutton {
	background:none!important;
	border:none; 
	font: inherit;
	font-size: 12px;
	cursor: pointer;
	padding: 0px;
}

/*Check Mark*/
.fa-check-circle-o {
  font-size: 14px;
  color: #DDD;
  margin:0px;
}

/* Expandable divs */
.expander {
	cursor: pointer;
	font-size: 20px;
	padding:5px 10px;
	margin-top: 10px;
}

.to_expand {
	display: none;
}

.no-content {
	padding: 5px 20px;
	background-color: #d9edf7;
	font-size: 18px;
  color: #999;
}

/* User form */
.errors {
	margin: 0px 0px 20px 0px;	
}

.close {
  font-size: 16px;
}

/* Ticket page */

.ticket_foot_details {
  font-size: 9px;
}

#ticket_container {
  background: -webkit-linear-gradient(top, #FFFCE9 , #FAE369); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #FFFCE9, #FAE369); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #FFFCE9, #FAE369); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #FFFCE9 , #FAE369); /* Standard syntax */
  border: 1px solid #FFDD94;
  padding: 15px;
  margin: 20px 0px;
}

#ticket_bottom {
  padding: 5px;
  background-color: #FFF9D7;
  border: 1px solid #E0D286;
}

#ticket_bottom td, #ticket_bottom th {
    padding: 2px !important;
}

#ticket_content {
  padding: 10px;
}

.tab-content {
  min-height: 35px;
}

#ticket_post {
    font-size: 15px;
    margin: 10px 0px;
}

.post_commands {
  display: table-cell;
  font-size: 18px;
}

.post_edit a {
  color: #DDD !important;
  text-decoration: none;
}

.post_edit a:hover {
  color: #000 !important;
}

.tags {
  padding: 10px;
  margin: 20px 0px;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ECF0FF;
}

.tag {
  background-color: #B3C6FF;
  padding: 3px 5px;
  border: 1px solid #A1B3FD;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

 h3#write_post {
  display: inline-block;
}

.is_public {
  float: right;
  display: inline-block;
  font-size: 13px;
}

.post {
  margin: 0px;
  padding: 0px 0px 0px 30px;
}

.post .thumbnail {
  margin: 0px;
}

.post_content {
	margin: 10px;
}

.thumb-sm {
  width: 80px;
}

.thumb-md {
  width: 100px;
}

#company_form, #contact_form {
	clear: both;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; 
}

.pagination>li>a, .pagination>li>span, .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
  margin: 0px 2px;
  background-color: #F7F7F7;
  color: #767676;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #72A4CF;
  border: 1px solid #6393BD;
}

/* Navbar */
.navbar-default {
  background-color: #FCC970;
  border: 1px solid #E4C48C;
  margin-bottom: 10px;
  border-radius: 0px;
  background: -webkit-linear-gradient(top, #FCC970 , #DBB168); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #FCC970, #DBB168); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #FCC970, #DBB168); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #FCC970 , #DBB168); /* Standard syntax */
  font-size: 13px;
}
.navbar-default .navbar-brand a {
  text-decoration: none;
  color: #333333;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #744b07;
}
.navbar-default .navbar-text {
  color: #333333;
}
.navbar-default .navbar-nav > li > a {
  color: #333333;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #744b07;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #744b07;
  background-color: #FFDC9E;
  font-size: 13px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #744b07;
  background-color: #e5ab49;
}
.navbar-default .navbar-toggle {
  border-color: #e5ab49;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #e5ab49;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #333333;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #E2B554;
}
.navbar-default .navbar-link {
  color: #333333;
}
.navbar-default .navbar-link:hover {
  color: #744b07;
}
.navbar-nav>li>.dropdown-menu {
  background-color: #FFF5D7;
  font-size:11px !important;
}

.dropdown-menu>li>a {
  padding: 5px 20px;
}

.dropdown-menu>li>a:hover {
  background-color: #FFEAAC;
}

.action {
	font-size: 12px;
	padding: 3px 20px;
}

.action:hover {
	background-color: none;
}

/*dashboard*/

#dashboard_container {
  margin: 0px 10px;
}

#user_tickets_table, #user_tickets_involvement_table, #tickets_status_table, #tickets_division_table {
  margin-top: 35px;
}

#user_tickets_chart, #user_tickets_involvement_chart, #tickets_status_chart, #tickets_division_chart {
  height: 300px;
}

#dashboard_thumb img {
  width: 100%;
}

#dashboard_contact_details {
  font-size: 15px;
}

#dashboard_contact_info {
  padding: 20px 10px;
  background-color: #DDECFF;
  border: 1px solid #B3CFF3;
}
.extra {
  overflow-x: auto;
}

/*rotated table headers*/
.table-header-rotated {
  border-collapse: collapse;
}
.csstransforms .table-header-rotated td {
  width: 30px;
}
.no-csstransforms .table-header-rotated th {
  padding: 5px 10px;
}
.table-header-rotated td {
  text-align: center;
  padding: 10px 5px!important;
  border: 1px solid #ccc;
}
.csstransforms .table-header-rotated th.rotate {
  height: 140px;
  white-space: nowrap;
}
.csstransforms .table-header-rotated th.rotate > div {
  -webkit-transform: translate(22px, 51px) rotate(-45deg);
  -ms-transform: translate(22px, 51px) rotate(-45deg);
  transform: translate(22px, 51px) rotate(-45deg);
  width: 30px;
}
.csstransforms td {
    width: 50px;
}
.csstransforms .table-header-rotated th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
.table-header-rotated th.row-header {
  padding: 0 10px;
  border-bottom: 1px solid #ccc!important;
  font-weight: bold!important;
  background-color: #FFF;
}

.csstransforms thead tr {
  background-color: #FFF;
}

.datepicker {
  margin-top: 0px;
}