$url:'https://convergence.elettric80inc.com';

body { 
	background-repeat: repeat; 
	background-image: url($url+'/resources/style/skulls_lightblue.png'); 
	background-color: #F7F7F7;

	table {
		&.table {
			font-size: 13px;
		}
		&.wrapper { 
			max-width: 700px; 
			background-color: #FFF; 
			padding: 20px 15px; 
			border: 1px solid #D4D4D4; 
			-webkit-border-radius: 5px; 
			-moz-border-radius: 5px; 
			border-radius: 5px; 
		}
		&.attachments {
			tr {
				td {
					img {
						width: 50px;
						border: 1px dashed #000;
					}
				}
			}
		}
		&#ticket_container {
			#ticket_title {
				font-weight: bold;
			}
		}
		&#ticket_changes {
			tr {
				line-height: 24px;
			}
		}
	}
	hr { 
		display: block; 
		height: 1px; 
		border: 0; 
		border-top: 1px solid #E0E0E0; 
		margin: 10px 0; 
		padding: 0; 
	}
	a { 
		color:#004E94 
	}
	td { 
		font-family: Arial, sans-serif, 'Open Sans';
		.thumbnail { 
			vertical-align: top; 
			padding-right: 10px;
			img {
				width: 50px;
			}
		}
		.bold { 
			font-weight: bold; 
		}
	}
	span.remarked { 
		border: 3px solid #E4D5BA;
		background-color: #E4D5BA;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px; 
		border-radius: 2px;
	}
	.title {
		text-decoration: none;
		color: #000000;
		font-weight: bold;
		font-size: 19px;
	}
	.inline { display: inline-block; }
	.footer { width:100%; vertical-align: bottom; font-size: 12px; }
	.post { padding: 10px 20px 0px 20px; color: #676767; }
	.heading {
		display:none;
		font-size:1px;
		color:#FFF;
		line-height:1px;
		max-height:0px;
		max-width:0px;
		opacity:0;
		overflow:hidden;
	}
}
